In [30]:
import numpy as np
import pandas as pd

LIMPIAR MONDAY

In [31]:
df_monday = pd.read_csv('Monday-WorkingHours.pcap_ISCX.csv')

In [32]:
df_monday.head()

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,192.168.10.5-8.254.250.126-49188-80-6,8.254.250.126,80,192.168.10.5,49188,6,03/07/2017 08:55:58,4,2,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
1,192.168.10.5-8.254.250.126-49188-80-6,8.254.250.126,80,192.168.10.5,49188,6,03/07/2017 08:55:58,1,2,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
2,192.168.10.5-8.254.250.126-49188-80-6,8.254.250.126,80,192.168.10.5,49188,6,03/07/2017 08:55:58,1,2,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
3,192.168.10.5-8.254.250.126-49188-80-6,8.254.250.126,80,192.168.10.5,49188,6,03/07/2017 08:55:58,1,2,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
4,192.168.10.14-8.253.185.121-49486-80-6,8.253.185.121,80,192.168.10.14,49486,6,03/07/2017 08:56:22,3,2,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN

In [33]:
print(df_monday.columns)

Index(['Flow ID', ' Source IP', ' Source Port', ' Destination IP',
       ' Destination Port', ' Protocol', ' Timestamp', ' Flow Duration',
       ' Total Fwd Packets', ' Total Backward Packets',
       'Total Length of Fwd Packets', ' Total Length of Bwd Packets',
       ' Fwd Packet Length Max', ' Fwd Packet Length Min',
       ' Fwd Packet Length Mean', ' Fwd Packet Length Std',
       'Bwd Packet Length Max', ' Bwd Packet Length Min',
       ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s',
       ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max',
       ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std',
       ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean',
       ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags',
       ' Bwd PSH Flags', ' Fwd URG Flags', ' Bwd URG Flags',
       ' Fwd Header Length', ' Bwd Header Length', 'Fwd Packets/s',
       ' Bwd Packets/s', ' Min Packet Length', ' Max Packet Length',
       ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance',
       'FIN Flag Count', ' SYN Flag Count', ' RST Flag Count',
       ' PSH Flag Count', ' ACK Flag Count', ' URG Flag Count',
       ' CWE Flag Count', ' ECE Flag Count', ' Down/Up Ratio',
       ' Average Packet Size', ' Avg Fwd Segment Size',
       ' Avg Bwd Segment Size', ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk',
       ' Fwd Avg Packets/Bulk', ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk',
       ' Bwd Avg Packets/Bulk', 'Bwd Avg Bulk Rate', 'Subflow Fwd Packets',
       ' Subflow Fwd Bytes', ' Subflow Bwd Packets', ' Subflow Bwd Bytes',
       'Init_Win_bytes_forward', ' Init_Win_bytes_backward',
       ' act_data_pkt_fwd', ' min_seg_size_forward', 'Active Mean',
       ' Active Std', ' Active Max', ' Active Min', 'Idle Mean', ' Idle Std',
       ' Idle Max', ' Idle Min', ' Label'],
      dtype='object')

Nos quedamos solo con las columnas que nos interesan, en especial nos interesa la columna Label

In [34]:
df_monday = df_monday[[ 'Flow ID', ' Timestamp', ' Label']]

In [35]:
df_monday.head()

                                  Flow ID            Timestamp   Label
0   192.168.10.5-8.254.250.126-49188-80-6  03/07/2017 08:55:58  BENIGN
1   192.168.10.5-8.254.250.126-49188-80-6  03/07/2017 08:55:58  BENIGN
2   192.168.10.5-8.254.250.126-49188-80-6  03/07/2017 08:55:58  BENIGN
3   192.168.10.5-8.254.250.126-49188-80-6  03/07/2017 08:55:58  BENIGN
4  192.168.10.14-8.253.185.121-49486-80-6  03/07/2017 08:56:22  BENIGN

Elimino los benignos

In [36]:
df_monday = df_monday[~df_monday[' Label'].str.contains('BENIGN')]

In [37]:
df_monday.head()

Empty DataFrame
Columns: [Flow ID,  Timestamp,  Label]
Index: []

Ya tenemos un dataframe solo con ataques

Ahora quiero guardar el DataFrame en un nuevo archivo CSV.

In [38]:
df_monday.to_csv('LIMPIOS/Monday-WorkingHours.pcap_ISCX.csv', index=False)  # el parÃ¡metro 'index=False' evita que se incluya el Ã­ndice en el archivo

LIMPIAR TUESDAY

In [39]:
df_tuesday = pd.read_csv('Tuesday-WorkingHours.pcap_ISCX.csv')

In [40]:
df_tuesday.head()

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,192.168.10.3-192.168.10.5-88-49182-6,192.168.10.5,49182,192.168.10.3,88,6,4/7/2017 8:54,640,7,4,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
1,192.168.10.3-192.168.10.5-88-49183-6,192.168.10.5,49183,192.168.10.3,88,6,4/7/2017 8:54,900,9,4,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
2,192.168.10.3-192.168.10.5-88-49184-6,192.168.10.5,49184,192.168.10.3,88,6,4/7/2017 8:54,1205,7,4,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
3,192.168.10.3-192.168.10.5-88-49185-6,192.168.10.5,49185,192.168.10.3,88,6,4/7/2017 8:54,511,7,4,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
4,192.168.10.3-192.168.10.5-88-49186-6,192.168.10.5,49186,192.168.10.3,88,6,4/7/2017 8:54,773,9,4,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN

Nos quedamos solo con las columnas que nos interesan, en especial nos interesa la columan Label

In [41]:
df_tuesday = df_tuesday[[ 'Flow ID', ' Timestamp', ' Label']]

In [42]:
df_tuesday.head()

                                Flow ID      Timestamp   Label
0  192.168.10.3-192.168.10.5-88-49182-6  4/7/2017 8:54  BENIGN
1  192.168.10.3-192.168.10.5-88-49183-6  4/7/2017 8:54  BENIGN
2  192.168.10.3-192.168.10.5-88-49184-6  4/7/2017 8:54  BENIGN
3  192.168.10.3-192.168.10.5-88-49185-6  4/7/2017 8:54  BENIGN
4  192.168.10.3-192.168.10.5-88-49186-6  4/7/2017 8:54  BENIGN

Elimino los benignos

In [43]:
df_tuesday = df_tuesday[~df_tuesday[' Label'].str.contains('BENIGN')]

In [44]:
df_tuesday.head()

                                   Flow ID       Timestamp        Label
11347  172.16.0.1-192.168.10.50-45422-80-6  4/7/2017 10:30  FTP-Patator
11348  172.16.0.1-192.168.10.50-60132-21-6  4/7/2017 10:20  FTP-Patator
11349  172.16.0.1-192.168.10.50-60134-21-6  4/7/2017 10:20  FTP-Patator
11350  172.16.0.1-192.168.10.50-60136-21-6  4/7/2017 10:20  FTP-Patator
11351  172.16.0.1-192.168.10.50-60126-21-6  4/7/2017 10:20  FTP-Patator

Ya tenemos un dataframe solo con ataques

Ahora quiero guardar el DataFrame en un nuevo archivo CSV.

In [45]:
df_tuesday.to_csv('LIMPIOS/Tuesday-WorkingHours.pcap_ISCX.csv', index=False)  # el parÃ¡metro 'index=False' evita que se incluya el Ã­ndice en el archivo

LIMPIAR WEDNESDAY

In [46]:
df_wed = pd.read_csv('Wednesday-workingHours.pcap_ISCX.csv')

In [47]:
df_wed.head()

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,192.168.10.14-209.48.71.168-49459-80-6,192.168.10.14,49459,209.48.71.168,80,6,5/7/2017 8:42,38308,1,1,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
1,192.168.10.3-192.168.10.17-389-49453-6,192.168.10.17,49453,192.168.10.3,389,6,5/7/2017 8:42,479,11,5,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
2,192.168.10.3-192.168.10.17-88-46124-6,192.168.10.17,46124,192.168.10.3,88,6,5/7/2017 8:42,1095,10,6,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
3,192.168.10.3-192.168.10.17-389-49454-6,192.168.10.17,49454,192.168.10.3,389,6,5/7/2017 8:42,15206,17,12,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
4,192.168.10.3-192.168.10.17-88-46126-6,192.168.10.17,46126,192.168.10.3,88,6,5/7/2017 8:42,1092,9,6,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN

Nos quedamos solo con las columnas que nos interesan, en especial nos interesa la columan Label

In [48]:
df_wed = df_friday3[[ 'Flow ID', ' Timestamp', ' Label']]

In [49]:
df_wed.head()

                                   Flow ID      Timestamp  Label
18883  172.16.0.1-192.168.10.50-49650-80-6  7/7/2017 3:56   DDoS
18884  172.16.0.1-192.168.10.50-49650-80-6  7/7/2017 3:56   DDoS
18885  172.16.0.1-192.168.10.50-51684-80-6  7/7/2017 3:56   DDoS
18886  172.16.0.1-192.168.10.50-51684-80-6  7/7/2017 3:56   DDoS
18887  172.16.0.1-192.168.10.50-51686-80-6  7/7/2017 3:56   DDoS

Elimino los benignos

In [50]:
df_wed = df_wed[~df_wed[' Label'].str.contains('BENIGN')]

In [51]:
df_wed.head()

                                   Flow ID      Timestamp  Label
18883  172.16.0.1-192.168.10.50-49650-80-6  7/7/2017 3:56   DDoS
18884  172.16.0.1-192.168.10.50-49650-80-6  7/7/2017 3:56   DDoS
18885  172.16.0.1-192.168.10.50-51684-80-6  7/7/2017 3:56   DDoS
18886  172.16.0.1-192.168.10.50-51684-80-6  7/7/2017 3:56   DDoS
18887  172.16.0.1-192.168.10.50-51686-80-6  7/7/2017 3:56   DDoS

Ya tenemos un dataframe solo con ataques

Ahora quiero guardar el DataFrame en un nuevo archivo CSV.

In [52]:
df_wed.to_csv('LIMPIOS/Wednesday-workingHours.pcap_ISCX.csv', index=False)  # el parÃ¡metro 'index=False' evita que se incluya el Ã­ndice en el archivo

LIMPIAR THURS WEB ATTACKS 1

In [88]:
df_thurs1 = pd.read_csv('Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv', encoding='latin-1',low_memory=False)

In [89]:
df_thurs1.head()

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,192.168.10.3-192.168.10.50-389-33898-6,192.168.10.50,33898.0,192.168.10.3,389.0,6.0,6/7/2017 8:59,113095465.0,48.0,24.0,...,32.0,203985.500,5.758373e+05,1629110.0,379.0,13800000.0,4.277541e+06,16500000.0,6737603.0,BENIGN
1,192.168.10.3-192.168.10.50-389-33904-6,192.168.10.50,33904.0,192.168.10.3,389.0,6.0,6/7/2017 8:59,113473706.0,68.0,40.0,...,32.0,178326.875,5.034269e+05,1424245.0,325.0,13800000.0,4.229413e+06,16500000.0,6945512.0,BENIGN
2,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0.0,8.0.6.4,0.0,0.0,6/7/2017 8:59,119945515.0,150.0,0.0,...,0.0,6909777.333,1.170000e+07,20400000.0,6.0,24400000.0,2.430000e+07,60100000.0,5702188.0,BENIGN
3,192.168.10.14-65.55.44.109-59135-443-6,192.168.10.14,59135.0,65.55.44.109,443.0,6.0,6/7/2017 8:59,60261928.0,9.0,7.0,...,20.0,0.000,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,BENIGN
4,192.168.10.3-192.168.10.14-53-59555-17,192.168.10.14,59555.0,192.168.10.3,53.0,17.0,6/7/2017 8:59,269.0,2.0,2.0,...,32.0,0.000,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,BENIGN

Nos quedamos solo con las columnas que nos interesan, en especial nos interesa la columan Label

In [90]:
df_thurs1 = df_thurs1[[ 'Flow ID', ' Timestamp', ' Label']]

In [91]:
df_thurs1.head()

                                  Flow ID      Timestamp   Label
0  192.168.10.3-192.168.10.50-389-33898-6  6/7/2017 8:59  BENIGN
1  192.168.10.3-192.168.10.50-389-33904-6  6/7/2017 8:59  BENIGN
2                   8.0.6.4-8.6.0.1-0-0-0  6/7/2017 8:59  BENIGN
3  192.168.10.14-65.55.44.109-59135-443-6  6/7/2017 8:59  BENIGN
4  192.168.10.3-192.168.10.14-53-59555-17  6/7/2017 8:59  BENIGN

In [92]:
df_thurs1 = df_thurs1.dropna(subset=[' Label'])

CONVIERTO TODAS LAS FILAS DE LABAL A STRING PORQUE ME ESTABA GENERANDO PROBLEMAS

In [93]:
df_thurs1[' Label'] = df_thurs1[' Label'].astype(str)

Elimino los benignos

In [94]:
df_thurs1 = df_thurs1[~df_thurs1[' Label'].str.contains('BENIGN')]

In [95]:
df_thurs1.head()

,Flow ID,Timestamp,Label
12637,172.16.0.1-192.168.10.50-44380-80-6,6/7/2017 9:15,Web Attack Â– Brute Force
12643,172.16.0.1-192.168.10.50-44382-80-6,6/7/2017 9:15,Web Attack Â– Brute Force
12700,172.16.0.1-192.168.10.50-44380-80-6,6/7/2017 9:16,Web Attack Â– Brute Force
12712,172.16.0.1-192.168.10.50-44384-80-6,6/7/2017 9:16,Web Attack Â– Brute Force
12791,172.16.0.1-192.168.10.50-44386-80-6,6/7/2017 9:16,Web Attack Â– Brute Force

Ya tenemos un dataframe solo con ataques

Ahora quiero guardar el DataFrame en un nuevo archivo CSV.

In [96]:
print(df_thurs1.columns)

Index(['Flow ID', ' Timestamp', ' Label'], dtype='object')

eliminarÃ¡ todas las filas que tengan valores nulos en la columna "Label".

In [97]:
df_thurs1.to_csv('LIMPIOS/Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv', index=False)  # el parÃ¡metro 'index=False' evita que se incluya el Ã­ndice en el archivo

LIMPIAR THURSDAY INFILTRATION 2

In [98]:
df_thurs2 = pd.read_csv('Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv')

In [99]:
df_thurs2.head()

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,192.168.10.12-192.168.10.50-60148-22-6,192.168.10.12,60148,192.168.10.50,22,6,6/7/2017 1:00,166,1,1,...,32,0.000,0.000,0.0,0.0,0.0,0.000,0.0,0.0,BENIGN
1,192.168.10.12-192.168.10.50-60148-22-6,192.168.10.50,22,192.168.10.12,60148,6,6/7/2017 1:00,83,1,2,...,32,0.000,0.000,0.0,0.0,0.0,0.000,0.0,0.0,BENIGN
2,192.168.10.12-91.189.89.199-123-123-17,192.168.10.12,123,91.189.89.199,123,17,6/7/2017 1:00,99947,1,1,...,40,0.000,0.000,0.0,0.0,0.0,0.000,0.0,0.0,BENIGN
3,192.168.10.12-72.38.129.202-123-123-17,192.168.10.12,123,72.38.129.202,123,17,6/7/2017 1:00,37017,1,1,...,32,0.000,0.000,0.0,0.0,0.0,0.000,0.0,0.0,BENIGN
4,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,6/7/2017 1:00,111161336,147,0,...,0,1753752.625,2123197.578,4822992.0,95.0,9463032.7,2657727.996,13600000.0,5700287.0,BENIGN

Nos quedamos solo con las columnas que nos interesan, en especial nos interesa la columan Label

In [100]:
df_thurs2 = df_thurs2[[ 'Flow ID', ' Timestamp', ' Label']]

In [101]:
df_thurs2.head()

                                  Flow ID      Timestamp   Label
0  192.168.10.12-192.168.10.50-60148-22-6  6/7/2017 1:00  BENIGN
1  192.168.10.12-192.168.10.50-60148-22-6  6/7/2017 1:00  BENIGN
2  192.168.10.12-91.189.89.199-123-123-17  6/7/2017 1:00  BENIGN
3  192.168.10.12-72.38.129.202-123-123-17  6/7/2017 1:00  BENIGN
4                   8.0.6.4-8.6.0.1-0-0-0  6/7/2017 1:00  BENIGN

Elimino los benignos

In [102]:
df_thurs2 = df_thurs2[~df_thurs2[' Label'].str.contains('BENIGN')]

In [103]:
df_thurs2.head()

                                       Flow ID      Timestamp         Label
66383  192.168.10.8-205.174.165.73-53966-444-6  6/7/2017 2:19  Infiltration
68410  192.168.10.8-205.174.165.73-53966-444-6  6/7/2017 2:19  Infiltration
72581  192.168.10.8-205.174.165.73-54119-444-6  6/7/2017 2:28  Infiltration
73090  192.168.10.8-205.174.165.73-54122-444-6  6/7/2017 2:30  Infiltration
73634  192.168.10.8-205.174.165.73-54119-444-6  6/7/2017 2:30  Infiltration

Ya tenemos un dataframe solo con ataques

Ahora quiero guardar el DataFrame en un nuevo archivo CSV.

In [104]:
df_thurs2.to_csv('LIMPIOS/Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv', index=False)  # el parÃ¡metro 'index=False' evita que se incluya el Ã­ndice en el archivo

LIMPIAR FRIDAY1

In [105]:
df_friday1 = pd.read_csv('Friday-WorkingHours-Morning.pcap_ISCX.csv')

In [106]:
df_friday1.head()

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,192.168.10.3-192.168.10.50-3268-56108-6,192.168.10.50,56108,192.168.10.3,3268,6,7/7/2017 8:59,112740690,32,16,...,32,3.594286e+02,1.199802e+01,380.0,343.0,16100000.0,4.988048e+05,16400000.0,15400000.0,BENIGN
1,192.168.10.3-192.168.10.50-389-42144-6,192.168.10.50,42144,192.168.10.3,389,6,7/7/2017 8:59,112740560,32,16,...,32,3.202857e+02,1.574499e+01,330.0,285.0,16100000.0,4.987937e+05,16400000.0,15400000.0,BENIGN
2,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,7/7/2017 9:00,113757377,545,0,...,0,9.361829e+06,7.324646e+06,18900000.0,19.0,12200000.0,6.935824e+06,20800000.0,5504997.0,BENIGN
3,192.168.10.9-224.0.0.252-63210-5355-17,192.168.10.9,63210,224.0.0.252,5355,17,7/7/2017 9:00,100126,22,0,...,32,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,BENIGN
4,192.168.10.9-224.0.0.22-0-0-0,192.168.10.9,0,224.0.0.22,0,0,7/7/2017 9:00,54760,4,0,...,0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,BENIGN

Nos quedamos solo con las columnas que nos interesan, en especial nos interesa la columan Label

In [107]:
df_friday1 = df_friday1[[ 'Flow ID', ' Timestamp', ' Label']]

In [108]:
df_friday1.head()

                                   Flow ID      Timestamp   Label
0  192.168.10.3-192.168.10.50-3268-56108-6  7/7/2017 8:59  BENIGN
1   192.168.10.3-192.168.10.50-389-42144-6  7/7/2017 8:59  BENIGN
2                    8.0.6.4-8.6.0.1-0-0-0  7/7/2017 9:00  BENIGN
3   192.168.10.9-224.0.0.252-63210-5355-17  7/7/2017 9:00  BENIGN
4            192.168.10.9-224.0.0.22-0-0-0  7/7/2017 9:00  BENIGN

Elimino los benignos

In [109]:
df_friday1 = df_friday1[~df_friday1[' Label'].str.contains('BENIGN')]

In [110]:
df_friday1.head()

                                       Flow ID       Timestamp  Label
24072    192.168.10.12-52.6.13.28-42544-8080-6   7/7/2017 9:34    Bot
24677    192.168.10.12-52.6.13.28-42544-8080-6   7/7/2017 9:35    Bot
56376  192.168.10.9-205.174.165.73-1841-8080-6  7/7/2017 10:04    Bot
56401  192.168.10.9-205.174.165.73-1841-8080-6  7/7/2017 10:04    Bot
56596  192.168.10.9-205.174.165.73-1845-8080-6  7/7/2017 10:04    Bot

Ya tenemos un dataframe solo con ataques

Ahora quiero guardar el DataFrame en un nuevo archivo CSV.

In [111]:
df_friday1.to_csv('LIMPIOS/Friday-WorkingHours-Morning.pcap_ISCX.csv', index=False)  # el parÃ¡metro 'index=False' evita que se incluya el Ã­ndice en el archivo

LIMPIAR FRIDAY3

In [112]:
df_friday3 = pd.read_csv('Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv')

In [113]:
df_friday3.head()

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,192.168.10.5-104.16.207.165-54865-443-6,104.16.207.165,443,192.168.10.5,54865,6,7/7/2017 3:30,3,2,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
1,192.168.10.5-104.16.28.216-55054-80-6,104.16.28.216,80,192.168.10.5,55054,6,7/7/2017 3:30,109,1,1,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
2,192.168.10.5-104.16.28.216-55055-80-6,104.16.28.216,80,192.168.10.5,55055,6,7/7/2017 3:30,52,1,1,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
3,192.168.10.16-104.17.241.25-46236-443-6,104.17.241.25,443,192.168.10.16,46236,6,7/7/2017 3:30,34,1,1,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
4,192.168.10.5-104.19.196.102-54863-443-6,104.19.196.102,443,192.168.10.5,54863,6,7/7/2017 3:30,3,2,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN

In [114]:
print(df_friday3.columns)

Index(['Flow ID', ' Source IP', ' Source Port', ' Destination IP',
       ' Destination Port', ' Protocol', ' Timestamp', ' Flow Duration',
       ' Total Fwd Packets', ' Total Backward Packets',
       'Total Length of Fwd Packets', ' Total Length of Bwd Packets',
       ' Fwd Packet Length Max', ' Fwd Packet Length Min',
       ' Fwd Packet Length Mean', ' Fwd Packet Length Std',
       'Bwd Packet Length Max', ' Bwd Packet Length Min',
       ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s',
       ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max',
       ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std',
       ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean',
       ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags',
       ' Bwd PSH Flags', ' Fwd URG Flags', ' Bwd URG Flags',
       ' Fwd Header Length', ' Bwd Header Length', 'Fwd Packets/s',
       ' Bwd Packets/s', ' Min Packet Length', ' Max Packet Length',
       ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance',
       'FIN Flag Count', ' SYN Flag Count', ' RST Flag Count',
       ' PSH Flag Count', ' ACK Flag Count', ' URG Flag Count',
       ' CWE Flag Count', ' ECE Flag Count', ' Down/Up Ratio',
       ' Average Packet Size', ' Avg Fwd Segment Size',
       ' Avg Bwd Segment Size', ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk',
       ' Fwd Avg Packets/Bulk', ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk',
       ' Bwd Avg Packets/Bulk', 'Bwd Avg Bulk Rate', 'Subflow Fwd Packets',
       ' Subflow Fwd Bytes', ' Subflow Bwd Packets', ' Subflow Bwd Bytes',
       'Init_Win_bytes_forward', ' Init_Win_bytes_backward',
       ' act_data_pkt_fwd', ' min_seg_size_forward', 'Active Mean',
       ' Active Std', ' Active Max', ' Active Min', 'Idle Mean', ' Idle Std',
       ' Idle Max', ' Idle Min', ' Label'],
      dtype='object')

Nos quedamos solo con las columnas que nos interesan, en especial nos interesa la columan Label

In [115]:
df_friday3 = df_friday3[[ 'Flow ID', ' Timestamp', ' Label']]

In [116]:
df_friday3.head()

                                   Flow ID      Timestamp   Label
0  192.168.10.5-104.16.207.165-54865-443-6  7/7/2017 3:30  BENIGN
1    192.168.10.5-104.16.28.216-55054-80-6  7/7/2017 3:30  BENIGN
2    192.168.10.5-104.16.28.216-55055-80-6  7/7/2017 3:30  BENIGN
3  192.168.10.16-104.17.241.25-46236-443-6  7/7/2017 3:30  BENIGN
4  192.168.10.5-104.19.196.102-54863-443-6  7/7/2017 3:30  BENIGN

Elimino los benignos

In [117]:
df_friday3 = df_friday3[~df_friday3[' Label'].str.contains('BENIGN')]

In [118]:
df_friday3.head()

                                   Flow ID      Timestamp  Label
18883  172.16.0.1-192.168.10.50-49650-80-6  7/7/2017 3:56   DDoS
18884  172.16.0.1-192.168.10.50-49650-80-6  7/7/2017 3:56   DDoS
18885  172.16.0.1-192.168.10.50-51684-80-6  7/7/2017 3:56   DDoS
18886  172.16.0.1-192.168.10.50-51684-80-6  7/7/2017 3:56   DDoS
18887  172.16.0.1-192.168.10.50-51686-80-6  7/7/2017 3:56   DDoS

Ya tenemos un dataframe solo con ataques

Ahora quiero guardar el DataFrame en un nuevo archivo CSV.

In [119]:
df_friday3.to_csv('LIMPIOS/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv', index=False)  # el parÃ¡metro 'index=False' evita que se incluya el Ã­ndice en el archivo

LIMPIAR FRIDAY2

In [120]:
df_friday2 = pd.read_csv('Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv')

In [121]:
df_friday2.head()

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,192.168.10.12-192.168.10.50-35396-22-6,192.168.10.12,35396,192.168.10.50,22,6,7/7/2017 1:00,1266342,41,44,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
1,192.168.10.16-192.168.10.50-60058-22-6,192.168.10.16,60058,192.168.10.50,22,6,7/7/2017 1:00,1319353,41,44,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
2,192.168.10.12-192.168.10.50-35396-22-6,192.168.10.12,35396,192.168.10.50,22,6,7/7/2017 1:00,160,1,1,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
3,192.168.10.12-192.168.10.50-35398-22-6,192.168.10.12,35398,192.168.10.50,22,6,7/7/2017 1:00,1303488,41,42,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
4,192.168.10.12-192.168.10.50-35396-22-6,192.168.10.50,22,192.168.10.12,35396,6,7/7/2017 1:00,77,1,2,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN

In [122]:
print(df_friday2.columns)

Index(['Flow ID', ' Source IP', ' Source Port', ' Destination IP',
       ' Destination Port', ' Protocol', ' Timestamp', ' Flow Duration',
       ' Total Fwd Packets', ' Total Backward Packets',
       'Total Length of Fwd Packets', ' Total Length of Bwd Packets',
       ' Fwd Packet Length Max', ' Fwd Packet Length Min',
       ' Fwd Packet Length Mean', ' Fwd Packet Length Std',
       'Bwd Packet Length Max', ' Bwd Packet Length Min',
       ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s',
       ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max',
       ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std',
       ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean',
       ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags',
       ' Bwd PSH Flags', ' Fwd URG Flags', ' Bwd URG Flags',
       ' Fwd Header Length', ' Bwd Header Length', 'Fwd Packets/s',
       ' Bwd Packets/s', ' Min Packet Length', ' Max Packet Length',
       ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance',
       'FIN Flag Count', ' SYN Flag Count', ' RST Flag Count',
       ' PSH Flag Count', ' ACK Flag Count', ' URG Flag Count',
       ' CWE Flag Count', ' ECE Flag Count', ' Down/Up Ratio',
       ' Average Packet Size', ' Avg Fwd Segment Size',
       ' Avg Bwd Segment Size', ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk',
       ' Fwd Avg Packets/Bulk', ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk',
       ' Bwd Avg Packets/Bulk', 'Bwd Avg Bulk Rate', 'Subflow Fwd Packets',
       ' Subflow Fwd Bytes', ' Subflow Bwd Packets', ' Subflow Bwd Bytes',
       'Init_Win_bytes_forward', ' Init_Win_bytes_backward',
       ' act_data_pkt_fwd', ' min_seg_size_forward', 'Active Mean',
       ' Active Std', ' Active Max', ' Active Min', 'Idle Mean', ' Idle Std',
       ' Idle Max', ' Idle Min', ' Label'],
      dtype='object')

Nos quedamos solo con las columnas que nos interesan, en especial nos interesa la columan Label

In [123]:
df_friday2 = df_friday2[[ 'Flow ID', ' Timestamp', ' Label']]

In [124]:
df_friday2.head()

                                  Flow ID      Timestamp   Label
0  192.168.10.12-192.168.10.50-35396-22-6  7/7/2017 1:00  BENIGN
1  192.168.10.16-192.168.10.50-60058-22-6  7/7/2017 1:00  BENIGN
2  192.168.10.12-192.168.10.50-35396-22-6  7/7/2017 1:00  BENIGN
3  192.168.10.12-192.168.10.50-35398-22-6  7/7/2017 1:00  BENIGN
4  192.168.10.12-192.168.10.50-35396-22-6  7/7/2017 1:00  BENIGN

Elimino los benignos

In [125]:
df_friday2 = df_friday2[~df_friday2[' Label'].str.contains('BENIGN')]

In [126]:
df_friday2.head()

                                  Flow ID      Timestamp     Label
1463  172.16.0.1-192.168.10.50-40620-80-6  7/7/2017 1:05  PortScan
1467  172.16.0.1-192.168.10.50-40620-80-6  7/7/2017 1:05  PortScan
1468  172.16.0.1-192.168.10.50-40622-80-6  7/7/2017 1:05  PortScan
1480  172.16.0.1-192.168.10.50-40622-80-6  7/7/2017 1:05  PortScan
1511  172.16.0.1-192.168.10.50-40626-80-6  7/7/2017 1:05  PortScan

Ya tenemos un dataframe solo con ataques

Ahora quiero guardar el DataFrame en un nuevo archivo CSV.

In [127]:
df_friday2.to_csv('LIMPIOS/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv', index=False)  # el parÃ¡metro 'index=False' evita que se incluya el Ã­ndice en el archivo